.conteiner{
    max-width: 1000px;
    margin:0 auto;
  
    
}

form{
    background-color: #fff;
    max-width: 500px;
    height: 200px;
    padding: 40px;
    border-radius: 20px 0;
    font-size: 12px;
    float:left
}
form h1{
    background-color: #fff;
}

.input-single{
    position: relative;
    margin: 10px 0;
    
    
}

.input-single label{
    position: absolute;
    left:0;
    bottom: 5px;
    transition: all 0.2s;
    background-color: #fff;
   
}
.input{
     width: 100%;
     border: 0;
     border-bottom: 2px solid #ccc;
     padding: 5px;
     font-size: 15px;
     outline: 0;
     background-color: #fff;
     
}
form .input-single .input:focus ~ label, /* focus serve para quando o usuario interagir na caixa de texto*/
form .input-single .input:valid ~ label{ 
    transform: translateY(-20px);
    font-size: 12px;
    color: #3DB36B;
}


/*star*/
.avaliacao{
    display: flex;
    background-color: #fff;
}
.star-icon{
    list-style-type:none ;
    border: 1px solid #fff;
    cursor:pointer;
    color: #ffe500;
    background-color: #fff;
    font-size: 2em;
    
}
.star-icon::before{
    content: "\2605";
}
.star-icon.ativo~.star-icon::before{
    content: "\2606";
}

.avaliacao:hover .star-icon::before{
    content: "\2605";
} 
.star-icon:hover~.star-icon::before{
    content: "\2606";
}

/* botão enviar*/
.enviar{
width: 100%;
text-align: center;
background-color: #fff;

}
form input[type=submit]{
    padding: 10px 40px;
    border: 0;
    border-radius: 10px;
    background-color: #3DB36B;
    color: #fafafa;
}
