.texto{
    float: left;
    height: 300px;
    margin-left: 60px;

}
p{
    margin-top: 5px;  
}

#texto1{
    width: 250px;
    margin-top: 20px;
    }

#texto2{
    width: 700px;
   
    }
    
#texto3{
    width: 700px;
    margin-top: 30px;
}
 
#texto4{
    width: 900px;
    margin-top: 10px;
}
#texto5{
    width: 600px;
    margin-left: 70px;
    margin-top: 10px;
}

#texto6{
    height: 200px;
    width: 900px;
    margin-left: 70px;
    margin-top: 60px;
 
}
#texto-final{
    width: 900px;
    margin-left: 70px;
    margin-top: 10px;
    
}
#references{
    height: 100px;
    width: 900px;
    margin-left: 70px;
    margin-top: 10px;
}

#comentario{
    box-sizing: border-box;
    background-position:center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    
   
}