.texto{
    float: left;
    height: 300px;
    margin-left: 60px;

}
p{
    margin-top: 5px;  
}

#texto1{
    width: 250px;
    margin-top: 20px;
    }

#texto2{
    width: 730px;
    }
#formacao{
    font-family: 'Courier New';
    font-size: 30px;
}
    
#texto3{
    width: 790px;
    margin-top: 30px;
}
 
#texto4{
    width: 900px;
    margin-top: 30px;
}

#texto4 h1{
    background-color: #fafafaa6;
    -webkit-border-radius: 25px;
    height: 45px;
    width: 1300px;
}

#texto5{
    width: 710px;
    margin-left: 30px;
    margin-top: 10px;
}

#texto6{
    height: 200px;
    width: 900px;
    margin-left: 70px;
    margin-top: 60px;

 
}
#texto-final{
    width: 900px;
    margin-left: 70px;
    margin-top: 10px;
   
}
#references{
    height: 100px;
    width: 900px;
    margin-left: 70px;
    margin-top: 10px;
   
}

#comentario{
    height: 1000px;
    float: left;   
}
.coment{
    float: left;
    height: 100px;
    width: 900px;
    margin-top: 20px;
    -webkit-border-radius: 25px;
    border: solid #2e2b2ba6;
    background-color: aliceblue;
}
.coment p{
    background-color: rgba(240, 248, 255, 0);
}
