*{
    margin: 0;
    padding: 0;
    font-family:  Helvetica;
    background: #EDB079;
    text-decoration: none;

   
}
header h1{
    color: #fff;
    padding: 15px;
    text-align: center;
    justify-content: center;
    background-color: #810E13;
    height: 50px;
    font-family: 'Courier New';
    font-size: 30px; 
    -webkit-border-radius: 16px;
}
h1{
    background-color: #fafafa09;
   font-family: 'Courier New';
    font-size: 20px;
    margin-top: 10px;
 }
#cabecalho #nome{
   margin-left: 300px;
   font-family: 'Courier New';
   margin-top: 20px;
   font-size: 25px;
}

#cabecalho #sobrenome{
   margin-left: 350px;
   font-family: 'Courier New';
   font-size: 25px;
}
html{
    scroll-behavior: smooth;
    font-size: 90.5%;
}
a{
    color: #0133B1;
}
#cabecalho{
 height: 150px;
 width: 95%;
 margin: 0 auto;
}
.menu{
height:600px;
width: 200px;
float: left;
margin-left: 60px;
margin-top: 10px;
background-color: #fafafaa6;
-webkit-border-radius: 25px;
display: flex;
flex-direction:column;
text-align: center;
border: solid #810E13;


}


.menu p{
background-color: #fafafa09;
text-decoration: underline;
font-size: 17px;
margin-left: 20px;
line-height: 20px;
}

.menu h2{
margin-top: 30px;
background-color: #fafafa09;
font-size: 17px;
margin-left: 60px;
line-height: 20px;
}

#principal{
    height: 250px;
    width: 300px;
    float: left;
    margin-top: 10px;
    margin-left: 10px;
   

}
#lado1{
    height: 100px;
    width: 350px;
    font-size: 20pxl;
    float:left;
    margin-top: 10px;
    margin-left: 10px;
    display: flex;
    flex-direction:column;
    text-align: center;
}
#L1{
    font-weight: 700;
    font-size: 20px;
    font-family: 'Courier New';
    
  
}
#lado2{
    height: 130px;
    width: 300px;
    font-size: 18px;
    float:left;
    margin-top: 15px;
    margin-left: 30px;
    background-color: #fafafaa6;
    display: flex;
    flex-direction:column;
    text-align: center;
    -webkit-border-radius: 25px;
}


#lado2 a{
    margin-top: 5px;;
    background-color: #fafafa09;
    font-weight: bold;
}

#lado3{
    height: 100px;
    width: 350px;
    font-size: 20pxl;
    float:left;
    margin-top: 50px;
    margin-left: 40px;
    font-weight: 900;
    font-style: italic;
    
}


#foto2 img{
    float: left;
    max-width: 420px;
    max-height: 420px;
    width: auto;
    height: auto;
    margin-top: 30px;
    margin-left: 10px;
 
  
}
#foto3 img{
    height: auto;
    width: auto;
    float: left;
    margin-left: 60px;
}
#comentario{
    height: 500px;
    width: 1100px;
    margin-left: 70px;
   
    float: left;   
   
}
#rodape{
    height: 100px;
    width: 95%;
    background-color: #810E13;
    clear: both;
    margin: 0 auto;
    margin-top: 10px;
}

.barra-cor{
  
        height:1200px;
        width: 200px;
        float:right;
        margin-right: 30px;
        margin-top: 10px;
        background-color: #fafafaa6;
        
        display: flex;
        flex-direction:column;
        text-align: center;
        
}
.barra-cor #bc1{
    background-color: #38050E;
    height:400px;
    
}
.barra-cor #bc2{
    background-color: #640D15;
    height:400px;
    
}
.barra-cor #bc3{
    background-color: #810E13;
    height:400px;
    
}
.barra-cor #bc4{
    background-color: #AE2831;
    height:400px;
    
}